Repository freelawproject/juriscraper, pull requests merged in 2021-12, with the labels that each got.

#430 Adds support for Python 3.9 and 3.10
  .github/workflows/tests.yml
  requirements.txt
Labels: enhancement, dependencies

#434 Updates opinion scraper for Georgia Appeallate court
  juriscraper/opinions/united_states/state/gactapp.py
  tests/examples/opinions/united_states/gactapp_example.compare.json
  tests/examples/opinions/united_states/gactapp_example_2.compare.json
  tests/examples/opinions/united_states/gactapp_example_2.html
Labels: scraper down

#449 Updated URL to scrape opinions for New Hampshire Supreme court
  juriscraper/opinions/united_states/state/nh.py
  tests/examples/opinions/united_states/nh_example.compare.json
  tests/examples/opinions/united_states/nh_example.html
  tests/examples/opinions/united_states/nh_example.json
  tests/examples/opinions/united_states/nh_example_2.compare.json
  tests/examples/opinions/united_states/nh_example_2.html
  tests/examples/opinions/united_states/nh_example_2.json
  tests/examples/opinions/united_states/nh_example_3.compare.json
  tests/examples/opinions/united_states/nh_example_3.html
  tests/examples/opinions/united_states/nh_example_3.json
  tests/examples/opinions/united_states/nh_example_4.compare.json
  tests/examples/opinions/united_states/nh_example_4.html
  tests/examples/opinions/united_states/nh_example_4.json
  tests/examples/opinions/united_states/nh_example_5.compare.json
  tests/examples/opinions/united_states/nh_example_5.html
  tests/examples/opinions/united_states/nh_example_5.json
  tests/examples/opinions/united_states/nh_example_6.compare.json
  tests/examples/opinions/united_states/nh_example_6.html
  tests/examples/opinions/united_states/nh_example_6.json
  tests/examples/opinions/united_states/nh_example_7.compare.json
  tests/examples/opinions/united_states/nh_example_7.html
  tests/examples/opinions/united_states/nh_example_7.json
  tests/examples/opinions/united_states/nh_example_8.compare.json
  tests/examples/opinions/united_states/nh_example_8.html
  tests/local/test_ScraperSpotTest.py
Labels: scraper down

#454 refactor(Ga): Refactor georgia
  juriscraper/opinions/united_states/state/ga.py
  tests/examples/opinions/united_states/ga_example.compare.json
  tests/examples/opinions/united_states/ga_example.html
  tests/examples/opinions/united_states/ga_example_2.compare.json
  tests/examples/opinions/united_states/ga_example_2.html
  tests/examples/opinions/united_states/ga_example_3.compare.json
  tests/examples/opinions/united_states/ga_example_3.html
  tests/examples/opinions/united_states/ga_example_4.compare.json
  tests/examples/opinions/united_states/ga_example_4.html
  tests/examples/opinions/united_states/ga_example_5.compare.json
  tests/examples/opinions/united_states/ga_example_5.html
Labels: enhancement
